.container{
    padding: 1rem;
    border-bottom: 1px solid #eaeaea92;

}
.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

}