.title {
    margin: 0;
    line-height: 1.15;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

  .input_box{
    color: white;
    height: 100%;
    padding: 30px;
    text-align: center;


    
  }
  .input_message{
    color: white;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #bbbaf7e2;
    border-radius: 10px;
    width: 855px;
    height:100px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    resize: none;
    


  }

  .send_button{
    background: #5582f5;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    cursor: pointer;


  }

  .body {
    color: white;
  text-align: center;

}

.paragraph {
    text-align: center;
  
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  
}