.title {
    margin: 0;
    line-height: 1.15;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

.body {
  color: white;
  text-align: center;

}

.paragraph {
    text-align: center;
  
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  
}